NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_SUPPORT_EMAIL=support@neurolearn.app
OPENROUTER_API_KEY=sk-or-v1-xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
OPENROUTER_SITE_URL=https://neurolearn.app
OPENROUTER_SITE_NAME=NeuroLearn
OPENROUTER_MODEL=nvidia/nemotron-3-super-120b-a12b:free # Replace with your desired model, e.g., "nvidia/nemotron-3-super-120b-a12b:free", but for thesting purposes use free model